html {
  box-sizing: border-box;
  font-family: Arial, san-serif;
  color: #5b5b5b; }

body {
  background: #000;
  line-height: 1.4; }

ul {
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

.btn {
  background: #a00808;
  color: #bcbcbc;
  padding: .6rem 1.3rem;
  border: 0;
  border-radius: 2px; }
  .btn:hover {
    background: #a80000; }

img {
  max-width: 100%; }

.container {
  display: grid;
  grid-gap: 20px; }

.main-nav ul {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr); }
  .main-nav ul li {
    position: relative;
    background: #0f0f0f;
    transition: .2s; }
    .main-nav ul li:hover {
      background: #0a0a0a; }
    .main-nav ul li .top-color {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 50%;
      background: #1e1e1e; }
    .main-nav ul li a {
      position: relative;
      z-index: 2;
      height: 100%;
      display: block;
      text-align: center;
      color: #bcbcbc;
      border: 1px solid #2d2d2d;
      padding: 1rem;
      text-transform: uppercase;
      font-size: .9em;
      font-weight: 700; }

.showcase {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 'showcase-img showcase-img  showcase-item-a' 'showcase-img showcase-img showcase-item-b'; }
  .showcase .showcase-img {
    position: relative;
    min-height: 500px;
    grid-area: showcase-img;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 3em;
    color: #bcbcbc;
    border: 1px solid #2d2d2d;
    overflow: hidden; }
    .showcase .showcase-img img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      width: 100%;
      height: auto;
      min-height: 100%;
      min-width: 1141px;
      transform: scale(1.2);
      animation: bg-size 15s ease forwards; }
    .showcase .showcase-img h1 {
      font-size: 4rem;
      margin: 0;
      line-height: 1.1; }
    .showcase .showcase-img p {
      font-size: 1.1rem;
      margin-bottom: 2rem;
      width: 60%;
      text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6); }
@keyframes bg-size {
  100% {
    transform: scale(1); } }
  .showcase .showcase-item {
    border: 1px solid #2d2d2d;
    background: #0f0f0f;
    color: #bcbcbc;
    padding: 3rem;
    display: grid;
    align-items: center;
    justify-items: center; }
    .showcase .showcase-item h4 {
      font-size: 1.1rem;
      margin: 0;
      color: #5b5b5b; }
    .showcase .showcase-item p {
      margin-top: 0; }
      .showcase .showcase-item p span {
        font-size: 2.5rem;
        font-weight: 700; }
  .showcase .showcase-item-a {
    grid-area: showcase-item-a; }
  .showcase .showcase-item-b {
    grid-area: showcase-item-b; }

.game-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px; }
  .game-box .game-boxes {
    text-align: center;
    padding: 2rem;
    border: 1px solid #2d2d2d;
    background: #0f0f0f;
    color: #8e8e8e; }

.game-info {
  display: grid;
  grid-template-areas: 'info-img info-img info-text';
  grid-gap: 20px;
  background: #0f0f0f;
  border: 1px solid #2d2d2d;
  padding: 2rem; }
  .game-info img {
    grid-area: info-img; }
  .game-info .game-info-text {
    grid-area: info-text;
    color: #8e8e8e;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }

.screenshots {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); }
  .screenshots img {
    width: 100%;
    border: 1px solid #2d2d2d; }

Footer {
  background: #0f0f0f;
  color: #bcbcbc;
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  Footer .social-media {
    text-align: left; }
    Footer .social-media .fab {
      padding: 0 .2rem;
      margin-right: 5px;
      color: #5b5b5b;
      font-size: 1.2rem;
      width: 30px;
      height: 40px;
      background: #0c0c0c;
      line-height: 40px;
      text-align: center;
      cursor: pointer;
      outline: 0;
      transition: .3s; }
      Footer .social-media .fab:hover {
        transform: translateY(-5px); }
    Footer .social-media p {
      font-margin-top: 0;
      font-weight: 100;
      color: #5b5b5b; }
  Footer p {
    font-size: .8rem;
    color: #5b5b5b; }

@media (max-width: 1060px) {
  .game-info {
    grid-template-areas: 'info-img' 'info-text'; }
    .game-info .game-info-text {
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center; } }
@media (max-width: 920px) {
  .showcase {
    grid-template-areas: 'showcase-img showcase-img' 'showcase-item-a showcase-item-b'; } }
@media (max-width: 650px) {
  .showcase .showcase-img {
    align-items: center;
    text-align: center; }
    .showcase .showcase-img p {
      width: 100%; } }
@media (max-width: 565px) {
  .main-nav ul {
    grid-template-columns: 1fr; }

  .showcase {
    grid-template-areas: 'showcase-img' 'showcase-item-a' 'showcase-item-b'; }
    .showcase .showcase-img {
      align-items: center;
      text-align: center; }
      .showcase .showcase-img p {
        width: 100%; }

  .game-box {
    grid-template-columns: 1fr; }

  .screenshots {
    grid-template-columns: 1fr; }

  .btn {
    width: 100%;
    text-align: center; }

  footer {
    flex-direction: column; }
    footer .social-media {
      text-align: center; } }

/*# sourceMappingURL=style.css.map */
